/* container shape*/
#flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

/* changing the look of the content section */
section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}

section div {
  height: 80vh;
  border: 1px solid black;
  align-content: center;
  width: 25vw;
  text-align: center;
}


/* changing the header and footer */
#header, #footer {
  padding: 3vh 0vw;
  border: 1px solid black;
  width: 80vw;
  text-align: center;
}
